<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <h1><a href="/">식재료 기반 요리 추천 서비스</a></h1>
    <nav>
        <ul>
            <li><a href="/login">로그인</a></li>
            <li><a href="/signup">회원가입</a></li>
        </ul>
    </nav>
</header>
<div class="form-container">
    <h2>로그인</h2>
    <form action="/login" method="post">
        <label for="username">아이디:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required>
        <p th:if="${not #strings.isEmpty(errorMsg)}" th:text="${errorMsg}" class="error-message"></p>
        <p th:if="${not #strings.isEmpty(logoutMsg)}" th:text="${logoutMsg}" class="logout-message"></p>
        <button type="submit">로그인</button>
        <p>계정이 없으신가요? <a href="/signup">회원가입</a></p>
    </form>
</div>
</body>
</html>